<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <title>jQuery Paging Plugin Demo</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <style type="text/css">

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 18px 27px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#tableData {
  width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
</style>
        </head> 



<section id="main" class="main">
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/addproducts" class=" btn-primary btn  ms-auto" style="width :8rem">Add Product</a>
        </div>
        <table class="table table-bordered " id="tableData">
  <thead>
    <tr>
      
      <th scope="row">SI NO</th>
      <th scope="row">Name</th>
      <th scope="row">Category</th>
      <th scope="row">Price</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      
      <td></td>
      
      <td>{{this.Name}}</td>
      <td> {{this.Category }} </td>
      <td> {{this.Price}} </td>
      
      {{!-- <td>{{this.salary}}</td> --}}
      <td><img style="width:50px;height:50px" src="/product-images/{{this._id }}.jpg" alt=""></td>
      <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
      <a href="/admin/delete-product/{{this._id}}"  class="btn btn-danger" onclick="return confirm('Do you really want to delete{{this.Name}} ?')">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
</div>


{{!-- <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<script>

$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script> --}}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/paging.js"></script> 
<script type="text/javascript">
            $(document).ready(function() {
                $('#tableData').paging({limit:5});
            });
        </script>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


