<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<section>
    <div class="container">
      
        <table class="table mt-5 border">
  <thead>
    <tr>
      
      <th scope="col">Date</th>
      <th>Name</th>
      <th>Pincode</th>
      <th>Mobile</th>
      <th>MRP</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      
      <td>{{this.date}}</td>
      <td> {{this.deliveryDetails.firstName}} {{this.deliveryDetails.lastName}} </td>
      <td> {{this.deliveryDetails.pincode }} </td>
      <td> {{this.deliveryDetails.mobile }} </td>
      <td> {{this.originalPrice }} </td>
      <td> {{this.totalAmount }} </td>
      <td> {{this.paymentMethod }} </td>
      <td>Order  {{this.status }} </td>
      
      <td>{{#if this.orderDelivered}}
        {{#if this.orderReturned}}
        <a href="/view-order-products/{{this._id}}" ><button class=" btn-primary" style="border-radius: 4px;background-color: white;
  color: black;
  border: 2px solid #4CAF50; ">View Products</button></a>
  {{else}}
        <a href="/view-order-products/{{this._id}}" ><button class=" btn-primary" style="border-radius: 4px;background-color: white;
  color: black;
  border: 2px solid #4CAF50; ">View Products</button></a>
        <a href="/returnProduct/{{this._id}}" ><button class="btn-danger" style="border-radius: 4px;font-size: 18px;background-color: white;
  color: black;
  border: 2px solid #e60303; ">Return</button></a>
  {{/if}}
  {{else}}
        {{#if this.orderCancelled}}
        <a href="/view-order-products/{{this._id}}" ><button class=" btn-primary" style="border-radius: 4px;background-color: white;
  color: black;
  border: 2px solid #4CAF50; ">View Products</button></a>
  {{else }}
        <a href="/view-order-products/{{this._id}}" ><button class=" btn-primary" style="border-radius: 4px;background-color: white;
  color: black;
  border: 2px solid #4CAF50; ">View Products</button></a>
        <a href="/cancel-order/{{this._id}}" ><button class="btn-danger" style="border-radius: 4px;font-size: 18px;background-color: white;
  color: black;
  border: 2px solid #e60303; ">Cancel Order</button></a>
  {{/if}}
  {{/if}}
  
      </td>
      {{!-- <td>
      </td> --}}
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<ul class="pagination justify-content-center">

  

  {{#ifEquals '1' results.currentPage }}
  <li class="page-item disabled">
    <a class="page-link" href="/orders/?page={{../results.previous.page}}" tabindex="-1"
      aria-disabled="true">Previous</a>
  </li>
  {{else}}
  <li class="page-item ">
    <a class="page-link" href="/orders/?page={{../results.previous.page}}" tabindex="-1"
      aria-disabled="true">Previous</a>
  </li>
  {{/ifEquals}}
  {{#each results.pages}}
  {{#ifEquals ../currentPage this }}

  <li class="page-item active"><a class="page-link" href="/orders/?page={{../this}}">{{../this}}</a></li>
  {{else}}
  <li class="page-item active"><a class="page-link" href="/orders/?page={{../this}}">{{../this}}</a></li>
  {{/ifEquals}}
  {{/each}}
  {{#ifEquals results.pageCount results.currentPage }}

  <li class="page-item disabled">
    <a class="page-link" href="/orders/?page={{../results.next.page}}">Next</a>
  </li>
  {{else}}
  <li class="page-item">
    <a class="page-link" href="/orders/?page={{../results.next.page}}">Next</a>
  </li>
  {{/ifEquals}}


</ul>
<br>

  <h5  style="text-align: center; color: #351bc7;">Page N0: {{results.currentPage}}</h5>


<script>


</script>

